#title{
    text-align: center;
    color: #4fcbb3;
    font-weight: 2px;
    font-size: 50px;
}

h4{
    color: #787a7a;
}

body{
    font-family: 'Poiret One', cursive;
    padding: 10px;
}

h2{
    text-align: center;
    color: #d77689
}

p{
    text-align: center;
    color: #969e9d;
}

ol{
    text-align: center;
    list-style-position: inside;
}

li{
    text-align: center;
    padding: 10px;
}

img{
    margin: 0 auto;
    display: block;
}

form{
    margin: 0 auto;
    text-align: center;
}

label{
    padding: 10px;
    size: 20px;
    color: #3a8d7c;
}

#images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

#images img{
    margin: 0 auto;
    height: 100%;
    padding-right: 10px;
    padding-left: 10px;
    display: block;
}  

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    cursor: pointer;
  }

input, textarea {
    font-size: 0.8em;
    font-family: 'proxima-nova-soft', sans-serif;
    border: 1px solid #ddd;
    background: #fff;
    padding: 10px;
    transition: all 0.3s ease-in-out;
    width: 25%; }

nav p{
    color: rgb(60, 73, 143);
    font-size: 40px;
    text-align: center;
    margin: 0 auto;
    font-family: 'Quicksand';
}

footer{
    width: 100%;
    bottom: 0;
    position:fixed;
}

nav ul {
    list-style-type: none;
    margin: 0 auto;
    text-align: center;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

nav li {
    display: inline-block;

}

nav li a {
    display: block;
    color: rgb(60, 73, 143);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: rgb(231, 221, 218);
}